  <a-entity>
   <a-image src="#picture1"  position="-1.28 2.2 -3.2">
    <a-animation attribute="position" from="0 0 0" to="-1.28 2.2 -3.2"></a-animation>
	<a-animation attribute="rotation"
               dur="10000"
               fill="both"
               to="0 360 0"
               repeat="indefinite"></a-animation>
   </a-image>
   <a-image src="#picture3"  position="0.2 3.5 -3.2">
   <a-animation attribute="position" from="0 0 0" to="0.2 3.5 -3.2"></a-animation>
   <a-animation attribute="rotation"
               dur="10000"
               fill="both"
               to="0 360 0"
               repeat="indefinite"></a-animation>
   </a-image>
  <a-image src="#picture2"  position="-0.7 2.9 -2.5">
  <a-animation attribute="position" from="0 0 0" to="-0.7 2.9 -2.5"></a-animation>
  <a-animation attribute="rotation"
               dur="10000"
               fill="both"
               to="0 360 0"
               repeat="indefinite"></a-animation>
  </a-image>
  <a-image src="#picture4"  position="0.9 2.7 -2.5">
  <a-animation attribute="position" from="0 0 0" to="0.9 2.7 -2.5"></a-animation>
  <a-animation attribute="rotation"
               dur="10000"
               fill="both"
               to="0 360 0"
               repeat="indefinite"></a-animation>
  </a-image>
 <a-image src="#picture5"  position="0 2 -2">
  <a-animation attribute="position" from="0 0 0" to="0 2 -2" ></a-animation>
 <a-animation attribute="rotation"
               dur="10000"
               fill="both"
               to="0 360 0"
               repeat="indefinite"></a-animation>
 </a-image>

 
</a-entity>
